:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --Text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
/* General */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--Text);
  letter-spacing: 0.02em;
  background-color: var(--white-background);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
  letter-spacing: 0.02em;
}
.item {
  font-size: 16px;
  line-height: 1.5;
}
/* Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo-studio {
  color: var(--dark);
}
.navigation a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
}
.address {
  font-style: normal;
}
.address-item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--Text);
}

/* Main page */

/* Hero */
.hero {
  background-color: var(--dark);
}
.hero-title {
  color: var(--white-background);
  font-size: 56px;
  line-height: 1.07;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  width: 169px;
  height: 56px;
  background: var(--primary-brand);
  font-weight: 500;
  color: var(--white-background);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}

/* Section 3 */
.team {
  background-color: var(--light);
}
.team-icon {
  background-color: var(--white-background);
}

/* Active */
.hero button:hover,
.hero button:focus {
  background-color: var(--pressed-state);
}
.navigation a:hover,
.navigation a:focus,
.address a:hover,
.address a:focus {
  color: var(--pressed-state);
}
/* Footer */
.footer {
  background-color: var(--dark);
}
.footer .footer-logo,
.footer-text {
  color: var(--light);
}

/* Portfolio */

/* Filter */
.filter-btn {
  font-family: 'Roboto', sans-serif;
  width: 116px;
  height: 48px;
  background-color: var(--light);
  font-weight: 500;
  color: var(--primary-brand);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

/* Portfolio list */
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
  letter-spacing: 0.02em;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text);
}
